<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioTomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header">
      <div class="header-list">
        <ul>
          <% if session[:user_id] %>  
            <li class = "logo">
              <%= link_to image_tag("/logo.jpg",height: "50",width:"280"), "/" %>
            </li> 
            <li>
              <%= link_to("about","/about",class: "header-font") %>
            </li>
            <li>
              <%= link_to("gallery","/gallery",class: "header-font") %>
            </li>
            <li>
              <%= link_to("works","/works",class: "header-font") %>
            </li>
            <li>
              <%= link_to("news","/news",class: "header-font") %>
            </li>
            <li>
              <%= link_to("contact","/contact",class: "header-font") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
    <div class="main-management">
      <div class="m_content">
        <div class="m-manu">
          <ul>
            <li><%= link_to("gallery画像投稿","/gallery/new") %></li>
            <li><%= link_to("work画像投稿","/works/new") %></li>
            <li><%= link_to("news投稿","/")%></li>
            <li><%= link_to("ログアウト","/logout",{method: :post})%></li>
          </ul>
      </div>
    </div>  
  </body>
</html>