<!DOCTYPE html>
<html>
  <head>
    <title>TomaTomayu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <div class="header-list">
        <ul>
          <% if session[:user_id] %>  
            <li class = "logo">
              <%= link_to image_tag("/logo.jpg",height: "50",width:"280"), "/" %>
            </li>
            <li>
              <%= link_to("home","/",class: "header-font") %>
            </li>
            <li>
              <%= link_to("about","/about",class: "header-font") %>
            </li>
            <li>
              <%= link_to("gallery","/gallery1",class: "header-font") %>
            </li>
            <%# <li> %>
              <%# <%= link_to("works","/works",class: "header-font") %> 
            <%# </li> %>
            <%# <li>
              <%= link_to("news","/news",class: "header-font") %>
            <%# </li> %>
            <li>
              <%= link_to("contact","/contact",class: "header-font") %>
            </li>
            <%= link_to("ðŸ˜„ç¾åœ¨ãƒ­ã‚°ã‚¤ãƒ³ä¸­(ç®¡ç†è€…ç”»é¢ã¯ã‚³ãƒãƒ©ã‚’ã‚¯ãƒªãƒƒã‚¯) ðŸ˜„","/management") %>
          <% else %>
            <li class = "logo">
              <%= link_to image_tag("/logo.jpg",height: "50",width:"280"), "/" %>
            </li>
            <li>
              <%= link_to("home","/",class: "header-font") %>
            </li>
            <li>
              <%= link_to("about","/about",class: "header-font") %>
            </li>
            <li>
              <%= link_to("gallery","/gallery1",class: "header-font") %>
            </li>
            <%# <li> %>
              <%# <%= link_to("works","/works",class: "header-font") %> 
            <%# </li> %>
            <%# <li>
              <%= link_to("news","/news",class: "header-font") %>
            <%# </li> %> 
            <li>
              <%= link_to("contact","/contact",class: "header-font") %>
            </li>
            <li>  
              <%= link_to fa_icon("instagram 2x",class: "fa-black"),"https://www.instagram.com/tomatomayu/?hl=ja" %>
            </li>
          <% end %>  
        </ul>
      </div>
    </div>
    </div>
    <div class="main-gallery">
      <divÂ class="g_contents">
        <div class="section-title">
          gallery
        </div>  
        <a href="t.gallery/41.jpg" data-lightbox="fuga" data-title="hoge" class="g-item">
            <img src="t.gallery/40.jpg" alt="hogeç”»åƒ" height="140"width="140">
          </a>
          <a href="t.gallery/42.jpg" data-lightbox="fuga" data-title="hoge" class="g-item">
            <img src="t.gallery/41.jpg" alt="hogeç”»åƒ" height="140"width="140">
          </a>
          <a href="t.gallery/42.jpg" data-lightbox="fuga" data-title="hoge" class="g-item">
            <img src="t.gallery/42.jpg" alt="hogeç”»åƒ" height="140"width="140">
          </a>  
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="gallery2">Prev</a></li>
        <li class="page-item"><a class="page-link" href="gallery1">1</a></li>
        <li class="page-item"><a class="page-link" href="gallery2">2</a></li>
        <li class="page-item"><a class="page-link" href="gallery3">3</a></li>
      </ul>
    </nav>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    </div>  
    <div class="footer">
      <small class="copyright">Copyright Â© TomaTomayu All Rights Reserved.</small>
    </div>
  </body>
</html>